// шрифты
$font-family-base: "Inter", sans-serif;
$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 1.4;

// цвета
$color-black: #1b1918;
$color-dark-grey: #262422;
$color-middle-grey: rgb(95, 95, 95);
$color-grey: #b3b3b3;
$color-accent: #fcd300;
$color-white: #e2e8f0;

// макет
$frame-width-base: 1296px;
$frame-padding-base: 60px;
