@charset "UTF-8";

@import "includes/_variables";
@import "includes/_media";
@import "includes/_reset";
@import "includes/_fonts";

@import "base";

.wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 50px;
	display: flex;
	gap: 32px;
	justify-content: space-between;
	@include media(tablet) {
		display: block;
		overflow: hidden;
	}
	@include media(phone-bg) {
		padding: 0 25px;
	}
	@include media(phone-md) {
		padding: 0 20px;
	}
	@include media(phone-sm) {
		padding: 0 12px;
	}
}

.header {
	flex: 0 1 48%;
	padding: 96px 0;
	max-height: 100vh;
	position: sticky;
	top: 0;
	max-width: 508px;
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 700px;
		height: 700px;
		top: -236px;
		left: -198px;
		z-index: -1;
		background-color: $color-white;
		border-radius: 50%;
		filter: blur(120px);
		opacity: 0.05;
		@include media(phone-bg) {
			display: none;
		}
	}
	@include media(tablet) {
		position: static;
		max-height: fit-content;
		padding: 68px 0 48px;
	}
}

.header__me {
	margin: 0 0 64px;
	position: relative;
	@include media(phone-bg) {
		margin: 0;
	}
}

.header__container {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	height: 100%;
}

.header__top {
	margin: 0 0 32px;
	@include media(phone-bg) {
		margin: 0 0 16px;
	}
}

.main {
	flex: 0 1 52%;
	width: 100%;
	flex-grow: 1;
	position: relative;
	padding: 104px 0 96px;
	max-width: 558px;
	@include media(tablet) {
		max-width: 100%;
		padding: 48px 0;
	}
}

.main__section {
	scroll-margin-top: 96px;
	margin: 0 0 196px;

	@include media(phone-bg) {
		margin: 0 0 84px;
	}
}

.link {
	display: inline-block;
	white-space: nowrap;
	position: relative;
	transition: 0.25s ease;
	color: $color-accent;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 1px;
		position: relative;
		bottom: 2px;
		background-color: $color-accent;
		opacity: 0.5;
		transition: 0.25s ease;
	}
	&:focus-visible,
	&:active {
		color: $color-accent;
		&:after {
			width: 100%;
		}
	}
	@include media(only-laptop) {
		&:hover {
			color: $color-accent;
			&:after {
				width: 100%;
			}
		}
	}
}

.highlight-text {
	font-weight: 500;
	color: $color-white;
}

.nav {
	@include media(tablet) {
		display: none;
	}
}

.nav__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.nav__item {
	text-transform: uppercase;
}

.nav__link {
	@include font(15px, 600);
	color: $color-grey;
	display: flex;
	align-items: center;
	gap: 16px;
	transition: 0.2s ease-in-out;
	width: fit-content;
	&:before {
		content: "";
		display: block;
		width: 32px;
		height: 2px;
		background-color: $color-grey;
		transition: 0.2s ease-out;
	}
	&:focus-visible {
		color: $color-accent;
		&:before {
			background-color: $color-accent;
			width: 64px;
		}
	}
	@include media(only-laptop) {
		&:hover {
			color: $color-accent;
			&:before {
				background-color: $color-accent;
				width: 64px;
			}
		}
	}
	&--active {
		color: $color-accent;
		&:before {
			background-color: $color-accent;
			width: 64px;
		}
	}
}

.contacts__list {
	display: flex;
	gap: 20px;
	position: relative;
	padding: 0 0 20px;
	overflow: hidden;
}

.contacts__item {
	overflow: hidden;
}

.contacts__link {
	display: inline-flex;
	align-items: flex-start;
	color: $color-grey;
	padding: 0 0 10px;

	&:focus-visible .contacts__img {
		opacity: 1;
	}
	@include media(only-laptop) {
		&:hover {
			color: $color-white;
		}
		&:hover + .contacts__hint {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			cursor: default;
			transform: translateY(0);
		}
	}
}

.contacts__icon {
	height: 28px;
	@include media(phone-bg) {
		height: 36px;
	}
}

.contacts__img {
	width: 28px;
	height: 28px;
	fill: $color-grey;
	opacity: 0.6;
	transition: 0.25s ease;
	@include media(only-laptop) {
		&:hover {
			fill: $color-white;
			opacity: 0.8;
		}
	}
	@include media(phone-bg) {
		width: 36px;
		height: 36px;
	}
}

.contacts__hint {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	top: 32px;
	left: 0;
	width: fit-content;
	transition: 0.3s linear;
	transform: translateY(100%);
	color: $color-grey;
	font-size: 18px;
	@include media(only-laptop) {
		&:hover {
			color: $color-white;
			opacity: 0.8;
			visibility: visible;
			pointer-events: auto;
			transform: translateY(0);
		}
	}
	@include media(phone-bg) {
		display: none;
	}
}

.contacts__title {
	color: $color-white;
	margin: 0 0 12px;
	font-size: 18px;
}

.experience__inner {
	display: flex;
	gap: 20px;
	@include media(phone-bg) {
		display: block;
	}
}

.experience__tabs {
	@include media(phone-bg) {
		overflow: auto;
		padding: 0 0 2px;
		margin: 0 0 30px;
		&::-webkit-scrollbar {
			width: 12px;
			height: 12px;
			overflow: visible;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $color-middle-grey;
			border-radius: 5px;
		}
		&::-webkit-scrollbar-track {
			background-clip: padding-box;
		}
		&::-webkit-scrollbar-button {
			height: 0;
			width: 0;
		}
	}
}

.experience__list {
	display: flex;
	flex-direction: column;
	@include media(phone-bg) {
		flex-direction: row;
	}
}

.experience__tab,
.tab-trigger {
	color: $color-grey;
	display: block;
	padding: 10px 20px;
	height: 42px;
	border-left: 2px solid lighten($color-dark-grey, 10%);
	position: relative;
	transition: 0.2s ease;
	&:focus-visible {
		outline: none;
		background-color: $color-dark-grey;
		color: $color-accent;
	}
	@include media(only-laptop) {
		&:hover {
			background-color: $color-dark-grey;
			color: $color-accent;
			transition: 0.2s ease;
		}
	}
	&--active {
		background-color: $color-dark-grey;
		color: $color-accent;
		border-left: 2px solid $color-accent;
	}
	@include media(phone-bg) {
		border-left: initial;
		border-bottom: 2px solid lighten($color-dark-grey, 10%);
		&--active {
			border-left: initial;
			border-bottom: 2px solid $color-accent;
		}
	}
}

.experience__item,
.tab-block {
	display: none;
	padding: 12px 0 0;
	width: 100%;
	opacity: 0;
	transform: translateY(20px);
	transition: 0.25 ease;
	&--active {
		display: block;
		animation: apperTabBlock 0.2s ease-in-out 0.1s forwards;
		transform: translateY(0);
	}
}

.responsibility__list {
	color: $color-grey;
}

@keyframes apperTabBlock {
	0% {
		opacity: 0;
		transform: translateY(12px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.experience__post {
	margin: 0 0 6px;
}

li.responsibility__item {
	position: relative;
	padding: 0 0 0 30px;
	margin: 0 0 16px;
	&:before {
		content: "\25B9";
		position: absolute;
		left: 0;
		color: $color-accent;
	}
}

.experience__company {
	color: $color-accent;
	white-space: nowrap;
}

.experience__period {
	color: $color-grey;
	display: block;
	font-size: 13px;
	font-family: "Roboto Mono", monospace;
	margin: 0 0 26px;
}

.skills__section {
	margin: 0 0 40px;
	@include media(phone-bg) {
		padding: 0;
	}
}

.skills__title {
	margin: 0 0 30px;
	@include media(phone-bg) {
		@include font(20px, 400);
	}
}
.skills__list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(76px, 1fr));
	gap: 36px 18px;
}
.skills__section:nth-child(3) {
	.skills__list {
		grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
	}
}

.skills__item {
	display: inline-block;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	@include media(only-laptop) {
		&:hover {
			.skills__name {
				color: $color-accent;
				transition: 0.2s ease;
			}
			.skills__img {
				fill: $color-accent;
				transform: scale(1.2);
				transition: 0.2s ease;
			}
		}
	}
}
.skills__name {
	font-size: 14px;
	transition: 0.2s ease;
	margin: 0;
}
.skills__img {
	height: 42px;
	fill: $color-middle-grey;
	transition: 0.2s ease;
	margin: 0 0 2px;
}

.works__content {
	@include media(only-laptop) {
		&:hover .works__link {
			opacity: 0.5;
		}
	}
}

.works__item {
	@include media(phone-bg) {
		margin: 0 0 48px;
		&:last-child {
			margin: 0;
		}
	}
}

.works__link {
	display: flex;
	gap: 20px;
	border-top: 2px solid transparent;
	border-radius: 4px;
	padding: 24px;
	transition: 0.2s ease-in-out;
	position: relative;
	&:focus-visible .works__name {
		color: $color-accent;
	}
	&:focus-visible .works__name svg {
		transform: translate(4px, 0px);
	}
	&:focus-visible .works__cover img {
		filter: grayscale(0);
	}
	@include media(only-laptop) {
		&:hover {
			background-color: $color-dark-grey;
			transition: 0.2s ease-in-out;
			border-top: 2px solid lighten($color-dark-grey, 10%);
			opacity: 1 !important;
		}
		&:hover .works__cover img {
			filter: grayscale(0);
		}
		&:hover .works__name {
			color: $color-accent;
		}
		&:hover .works__name svg {
			transform: translate(4px, 0px);
		}
		&:hover .works__hint {
			opacity: 1;
		}
	}
	@include media(phone-bg) {
		display: block;
		padding: 0;
	}
	&:hover:after {
		content: attr(data-title);
		position: absolute;
		left: 146px;
		bottom: 24px;
		font-size: 14px;
		font-family: $font-family-base;
		color: $color-accent;
	}
}

.works__hint {
	position: absolute;
	opacity: 0;
	transition: 0.2s ease;
	left: 0;
	bottom: -40px;
	font-size: 14px;
	font-family: $font-family-base;
	color: $color-accent;
	display: block;
}

.works__name {
	display: block;
	margin: 0 0 16px;
	transition: 0.25s ease;
	svg {
		transform: translate(0, 4px);
		margin: 0 0 0 4px;
		width: 16px;
		height: 16px;
		transition: transform 0.25s ease;
	}
}

.works__description {
	font-size: 15px;
	position: relative;
}
.works__description p {
	margin: 0;
}
.works__cover {
	flex: 0 0 25%;
	padding: 2px;
	max-width: 102px;
	height: 62px;
	position: relative;
	margin: 3px 0 0;
	@include media(phone-bg) {
		margin: 3px 0 16px;
		max-width: 198px;
		height: 112px;
	}
}

.works__cover img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	border-radius: 4px;
	filter: grayscale(1);
	transition: 0.2s ease-in-out;
	@include media(phone-bg) {
		filter: grayscale(0);
	}
}

.works__content {
	flex: 0 1 75%;
}

.section-title {
	margin: 0 0 26px;
	@include font(22px, 400);
}

.hidden-title {
	display: none;
	@include media(tablet) {
		display: block;
	}
}

.last-word {
	white-space: nowrap;
}

.bg-animated {
	position: relative;
	width: 100%;
	height: 100%;
}
.bg-animated__div {
	position: absolute;
	width: 60px;
	height: 60px;
	background: transparent;
	border: 6px solid rgba(95, 95, 95, 0.4);
	z-index: -1;
}
.bg-animated__div--one {
	top: 40%;
	left: 42%;
	animation: bg-animate 10s linear infinite;
}
.bg-animated__div--two {
	top: 60%;
	left: 50%;
	animation: bg-animate 7s linear infinite;
}
.bg-animated__div--three {
	top: 13%;
	left: 6%;
	animation: bg-animate 9s linear infinite;
}
.bg-animated__div--four {
	top: 24%;
	left: 60%;
	animation: bg-animate 10s linear infinite;
}
.bg-animated__div--five {
	top: 57%;
	left: 10%;
	animation: bg-animate 6s linear infinite;
}
.bg-animated__div--six {
	top: 93%;
	left: 70%;
	animation: bg-animate 12s linear infinite;
}
.bg-animated__div--seven {
	top: 50%;
	left: 80%;
	animation: bg-animate 15s linear infinite;
}
.bg-animated__div--eight {
	top: 22%;
	left: 25%;
	animation: bg-animate 16s linear infinite;
}
.bg-animated__div--nine {
	top: 90%;
	left: 25%;
	animation: bg-animate 9s linear infinite;
}
.bg-animated__div--ten {
	top: 16%;
	left: 90%;
	animation: bg-animate 5s linear infinite;
}
.bg-animated__div--eleven {
	top: 72%;
	left: 28%;
	animation: bg-animate 10s linear infinite;
}
.bg-animated__div--twelve {
	top: 32%;
	left: 14%;
	animation: bg-animate 6s linear infinite;
}
.bg-animated__div--thirteen {
	top: 32%;
	left: 70%;
	animation: bg-animate 8s linear infinite;
}
.bg-animated__div--fourteen {
	top: 72%;
	left: 65%;
	animation: bg-animate 11s linear infinite;
}
@-webkit-keyframes bg-animate {
	0% {
		-webkit-transform: scale(0) translateY(-90px) rotate(360deg);
		transform: scale(0) translateY(-90px) rotate(360deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.3) translateY(-90px) rotate(-180deg);
		transform: scale(1.3) translateY(-90px) rotate(-180deg);
		border-radius: 50%;
		opacity: 0;
	}
}
@keyframes bg-animate {
	0% {
		-webkit-transform: scale(0) translateY(-90px) rotate(360deg);
		transform: scale(0) translateY(-90px) rotate(360deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1.3) translateY(-90px) rotate(-180deg);
		transform: scale(1.3) translateY(-90px) rotate(-180deg);
		border-radius: 50%;
		opacity: 0;
	}
}

.preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: $color-black;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease;
	&--hidden {
		opacity: 0;
		visibility: hidden;
		z-index: -10;
		transition: 0.5s ease;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 700px;
		height: 700px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		background-color: $color-white;
		border-radius: 50%;
		filter: blur(120px);
		opacity: 0.05;
	}
}

#indicator {
	width: 100px;
	height: 100px;
	position: absolute;
	top: calc(50% - 50px);
	left: calc(50% - 50px);
	animation: spin 1s linear infinite;
}

#circle {
	fill: none;
	stroke: $color-grey;
	stroke-linecap: round;
	stroke-width: 4;
	animation: draw 3s ease-in-out infinite;
}

@keyframes draw {
	0% {
		stroke-dasharray: 20, 282.6;
	}
	50% {
		stroke-dasharray: 200, 282.6;
	}
	100% {
		stroke-dasharray: 20, 282.6;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
